# Application Environment
NODE_ENV=development
BASE_HTTPS_URL=https://pp.com
BASE_API_URL=https://pp.com/api
BASE_WSS_URL=wss://pp.com/ws/


# Database Path (for SQLite, volume mounted)
DB_PATH=/db/database.sqlite

# JWT Secrets
# For local development, we use simple strings.
PREAUTH_TOKEN_SECRET=your-preauth-secret
ACCESS_TOKEN_SECRET=your-access-secret
REFRESH_TOKEN_SECRET=your-refresh-secret
CLI_TOKEN_SECRET=your-cli-secret

# Email OTP (for 2FA)
SMTP_HOST=smtp.ethereal.email 
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=test@example.com # Dummy user
SMTP_PASS=password123 # Dummy password
EMAIL_FROM_NAME=Pong Admin
EMAIL_FROM_ADDRESS=noreply@netpong.example.com

# SMS OTP (for 2FA)
TWILIO_ACCOUNT_SID=ACxxxdummyyyytokenzzzzzzzzzzz # Dummy SID
TWILIO_AUTH_TOKEN=fakeAuthToken123xyzABC4567890  # Dummy Auth Token
TWILIO_PHONE_NUMBER=+15005550006 # Dummy phone number

# for google sign in
GOOGLE_CLIENT_ID=000000000000-dummyclientid0000000000000000.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-dummy_client_secret_abc123
